@use '@angular/material' as mat;

@import "tailwindcss" important;


$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  // Tailwind override for Angular Material buttons
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-filled-button,
  .mdc-outlined-button,
  .mat-mdc-button {
    @apply rounded-md;
  }
}

.container{
  @apply mx-auto max-w-screen-2xl;
}

.text-primary{
  color: #7d00fa;
}

.mdc-notched-outline__notch{
  border-right-style: none !important ;
}

.snack-error{
  --mat-snack-bar-container-color: red ;
  --mat-snack-bar-button-color:#fff;
  --mdc-snackbar-supporting-text-color:#fff;
  
}

.snack-success{
  --mat-snack-bar-container-color:green;
  --mat-snack-bar-button-color:#fff;
  --mdc-snackbar-supporting-text-color:#fff;
}

